<!--------------------- Rankings Year Menu  -------------------->
<div>
  <button mat-button color="primary" [matMenuTriggerFor]="rankingsYearMenu">
    {{ appState.selectedRankingYear }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #rankingsYearMenu="matMenu">
    <div class="lo-column lo-gap10 lo-align-center lo-justify-center">
      <button mat-button *ngFor="let y of rankingYears.rankingYears" color="primary"
              (click)="appState.selectRankingYear(y)">
        {{ y }}
      </button>
    </div>
  </mat-menu>
</div>
