<!--
  Beware! Implicit conventions at play!
  The eventGroup contains RankingEvent[]
  A RankingEvent has a name.  That name is actually a token that has a value in the translation files.
  So the RankingEvent with the name "_Orange_Bowl_" means that there must be a translation for the token "_Orange_Bowl_".
  But there is an implicit understanding that there are several other tokens available too:
  _Orange_Bowl_description_ describes the Orange Bowl event
  *IF* the event has a url, then
  _Orange_Bowl_link_text_ is the token to be used in an <a>link text</a>
  _Orange_Bowl_link_url_ is the url to be used in the href
-->
<div mat-dialog-title>
  <div class="lo-row lo-align-start lo-gap10">
    <div>
    <span class="mat-h2">{{ eventGroup.name | translate }}
      {{ "_junior_competitive_structure_" | translate }}
      </span>
    </div>
    <div class="fill-remaining-space"></div>
    <img class="tclogo" [src]="province.getLogoPath()" alt="Provincial Logo">
  </div>
</div>

<div mat-dialog-content>
  <div *ngFor="let rankingEvent of eventGroup.rankingEvents">
    <div class="mat-subheader">{{ rankingEvent.name |translate }}</div>
    <div class="mat-body-1">{{ rankingEvent.name + "description_" |translate }}</div>
    <div class="mat-body-1" *ngIf="rankingEvent.hasUrl">
      <a [href]="rankingEvent.name + 'link_url_' | translate"
         target="_blank">{{ rankingEvent.name + "link_text_" | translate }}</a>
    </div>
    <div *ngIf="rankingEvent.name.includes('_5_star_')">
      <p class="mat-body-1"> {{ year }} {{ '_Boys_'| translate }} {{ rankingEvent.name | translate }}
        {{ '_PR_are_rated_at_' | translate }} {{ province.boysRating.getRating(year) }}
        {{ '_PR_vs_nat_champs_' | translate }}.
        {{ '_Girls_' | translate }} {{ rankingEvent.name | translate }} {{ '_PR_are_rated_at_' | translate }}
        {{ province.girlsRating.getRating(year) }}.
      </p>
    </div>
  </div>
</div>
<div class="lo-row lo-justify-end">
  <div mat-dialog-actions>
    <button mat-button color="primary" [mat-dialog-close]="''">{{ '_Done_'|translate }}</button>
  </div>
</div>
