img.logo {
  height:100px;
  margin-bottom: 10px;
  padding: 0;
}

.mat-body-2 {
  margin-top: .5em;
}
.mat-body-1 {
  margin-top: 0.2em;
  margin-bottom: 0.4em;

}

.pointer-the-cursor {
  cursor: pointer;
}
