<!--
  This is used for each the rankings group to tell all the gorey details
  about how the rankings are computed and built.
  It is organized differently for screens and phones.
  But there are really only two main areas.  One for points table(s).
  The other is a set of tabs for explaining all the concepts and rules
  for the selected ranking group.
-->
<div class="lo-column lo-gap20" style="background: white"
     *ngIf="appState.selectedRankingGroup">

  <!-- Spacer. -->
  <div></div>

  <!-- logo area  (not shown on phone) -->
  <div class="lo-row lo-gap60 hide-on-small lo-justify-center">
    <img class="tclogo" [src]="canada.getLogoPath()" alt="TC Logo">
    <img class="tclogo" *ngIf="appState.selectedProvince.abbrv != 'CAN'"
         [src]="appState.selectedProvince.getLogoPath()" alt="Provincial Logo">
    <img class="tclogo" [src]="appState.selectedRankingGroup.getLogoPath(appState.selectedLanguage.prefix)" alt="">
  </div>

  <!-- Points table and rankings concepts - side by side on big screen vertically on a small one -->
  <div class="column-on-small row-on-large lo-gap10">
    <div class="hide-on-large">
      <!-- This part is for showing the various points tables for the selected ranking group on the phone -->
      <app-event-selector></app-event-selector>
    </div>
    <div class="hide-on-small">
      <!-- This part is for showing the various points tables for the selected ranking group on a bigger screen -->
      <app-adult-pt *ngIf="rankingGroup.name == '_Adult_'" [rankingGroup]="rankingGroup"></app-adult-pt>
      <app-wheelchair-pt *ngIf="rankingGroup.name == '_Wheelchair_'" [rankingGroup]="rankingGroup"></app-wheelchair-pt>
      <app-senior-pt *ngIf="rankingGroup.name == '_Senior_'" [rankingGroup]="rankingGroup"></app-senior-pt>
      <app-senior-pt *ngIf="rankingGroup.name == '_Open_'" [rankingGroup]="rankingGroup"></app-senior-pt>
      <app-junior-pt *ngIf="rankingGroup.name == '_Junior_'" [rankingGroup]="rankingGroup"></app-junior-pt>
    </div>
    <!--
      The "rankings concepts" which are displayed as tabs on big screens and
      expansion panels on small screens.
    -->
    <div class="hide-on-small">
      <mat-tab-group (selectedTabChange)="onConceptGroupChange($event)" [selectedIndex]="selectedConceptIndex">
        <mat-tab *ngFor="let cg of rankingGroup.conceptGroups">
          <ng-template mat-tab-label>{{ cg.headerTextToken | translate }}</ng-template>
        </mat-tab>
        <mat-tab *ngIf="rankingGroup.name == '_Open_'">
          <ng-template mat-tab-label>{{ '_Open_Events_' | translate }}</ng-template>
        </mat-tab>
      </mat-tab-group>
      <div *ngIf="rankingGroup">
        <div *ngIf="showingOpenEvents; else showConcept">
          <app-open-event-list></app-open-event-list>
        </div>
        <ng-template #showConcept>
          <app-concept-display [conceptGroup]="conceptGroup">
          </app-concept-display>
        </ng-template>
      </div>
    </div>
    <div class="hide-on-large">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let cg of rankingGroup.conceptGroups">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ cg.headerTextToken | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngIf="rankingGroup">
            <app-concept-display [conceptGroup]="cg">
            </app-concept-display>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="rankingGroup.name == '_Open_'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ '_Open_Events_' | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-open-event-list></app-open-event-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
