<!--
  This is used for all the rankings groups to tell all the gorey details
  about how the rankings are computed and built.
  It is organized differently for screens and phones.
  But there are really only two main areas.  One for points table(s).
  The other is a set of tabs for explaining all the concepts and rules
  for the selected ranking group.
-->
<div fxLayout="column" style="background: white"
     fxLayoutGap="10px" fxLayoutAlign="space-around" *ngIf="appState.selectedRankingGroup">

  <!-- Spacer.  Sorry Should be done with fxFlex, but failed to.-->
  <div></div>

  <!-- logo area  (not shown on phone) -->
  <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="center" fxHide.lt-md>
    <img class="tclogo" [src]="canada.getLogoPath()">
    <img class="tclogo" *ngIf="appState.selectedProvince.abbrv != 'CAN'"
         [src]="appState.selectedProvince.getLogoPath()">
    <img class="tclogo" [src]="appState.selectedRankingGroup.getLogoPath(appState.selectedLanguage.prefix)">
  </div>
  <!--
    Points table and rankings concepts - side by side on big screen
    arranged vertically on a small one
  -->
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px"
       fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center start">
    <div fxHide.gt-sm>
      <!-- This part is for showing the various points tables for the selected ranking group  on the phone -->
      <app-event-selector></app-event-selector>
    </div>
    <div fxHide.lt-md>
      <!-- This part is for showing the various points tables for the selected ranking group on a bigger screen -->
      <app-adult-pt *ngIf="rankingGroup.name == '_Adult_'" [rankingGroup]="rankingGroup"></app-adult-pt>
      <app-wheelchair-pt *ngIf="rankingGroup.name == '_Wheelchair_'" [rankingGroup]="rankingGroup"></app-wheelchair-pt>
      <app-senior-pt *ngIf="rankingGroup.name == '_Senior_'" [rankingGroup]="rankingGroup"></app-senior-pt>
      <app-senior-pt *ngIf="rankingGroup.name == '_Open_'" [rankingGroup]="rankingGroup"></app-senior-pt>
      <app-junior-pt *ngIf="rankingGroup.name == '_Junior_'" [rankingGroup]="rankingGroup"></app-junior-pt>
    </div>
    <!--
      The "rankings concepts" which are displayed as tabs on big screens and
      expansion panels on small screens.
    -->
    <div fxFlex fxHide.lt-md>
      <mat-tab-group (selectedTabChange)="onConceptGroupChange($event)" [selectedIndex]="selectedConceptIndex">
        <mat-tab *ngFor="let cg of rankingGroup.conceptGroups">
          <ng-template mat-tab-label>{{cg.headerTextToken | translate}}</ng-template>
        </mat-tab>
        <mat-tab *ngIf="rankingGroup.name == '_Open_'">
          <ng-template mat-tab-label>{{'_Open_Events_' | translate}}</ng-template>
        </mat-tab>
      </mat-tab-group>
      <div *ngIf="rankingGroup">
        <div *ngIf="showingOpenEvents; else showConcept">
          <app-open-event-list></app-open-event-list>
        </div>
        <ng-template #showConcept>
          <app-concept-display [conceptGroup]="conceptGroup">
          </app-concept-display>
        </ng-template>
      </div>
    </div>
    <div fxFlex fxHide.gt-sm>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let cg of rankingGroup.conceptGroups">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{cg.headerTextToken | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngIf="rankingGroup">
              <app-concept-display [conceptGroup]="cg">
              </app-concept-display>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="rankingGroup.name == '_Open_'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'_Open_Events_' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-open-event-list></app-open-event-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
