<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="15px">
    <h2 class="mat-h2">{{'_Historical_Rankings_' | translate }}</h2>
    <h2 class="mat-h2" *ngIf="rl" >{{rl.publication.year}}</h2>
    <h2 class="mat-h2" *ngIf="rl" >{{'_Week_' | translate}} : {{rl.publication.week}}</h2>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <app-vr-ranking-category-selector (categorySelected)="onCategorySelected($event)"></app-vr-ranking-category-selector>
    <app-province-selector></app-province-selector>
  </div>
  <div class="mat-elevation-z3">
    <div *ngIf="rl" >
      <table mat-table [dataSource]="rl.list">
        <ng-container matColumnDef="provincialRank">
          <th mat-header-cell *matHeaderCellDef>{{state.selectedProvince.abbrv}} {{'_Rank_' | translate}}</th>
          <td mat-cell *matCellDef="let t; let i = index"  class="center-me">{{i + 1}}</td>
        </ng-container>
        <ng-container matColumnDef="nationalRank">
          <th mat-header-cell *matHeaderCellDef>{{'_National_' | translate}}{{'_Rank_' | translate}}</th>
          <td mat-cell *matCellDef="let t" style="text-align: center">{{t.rank}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{'_Player_' | translate}}</th>
          <td mat-cell *matCellDef="let t">{{t.name}}</td>
        </ng-container>
        <ng-container matColumnDef="YOB">
          <th mat-header-cell *matHeaderCellDef>{{'_YOB_' | translate}}</th>
          <td mat-cell *matCellDef="let t">{{t.YOB}}</td>
        </ng-container>
        <ng-container matColumnDef="province">
          <th mat-header-cell *matHeaderCellDef>{{'_Province_' | translate}}</th>
          <td mat-cell *matCellDef="let t" class="center-me">{{t.province}}</td>
        </ng-container>
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef>{{'_Points_' | translate}}</th>
          <td mat-cell *matCellDef="let t">{{t.points  | number: '1.0-0'}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
</div>
