.mat-row {
  height: 30px;
}

.mat-cell {
  font-size: 12px;
  padding-left:8px;
}
.mat-header-cell {
  padding-left:8px;
}

.center-me {
  text-align: center;
}

mat-form-field.mat-form-field {
  font-size: 13px;
}
