.mat-select-panel{
  max-height: 600px !important;
}
.mat-option{
  height: 34px !important;
}

.adjustment {
  font-size: small;
}

.mat-form-field {
  font-size: 12px ;
}

.pointer-the-cursor {
  cursor: pointer;
}
