.en-about-rankings-button {
  background-image: url("../../../assets/images/Splash/en/aboutUp.jpg");
  width: 85px;
  height: 32px;
  top: 10px;
  left:25px;
  border: none;
  position:absolute;
}
.en-about-rankings-button:active {
  background-image: url("../../../assets/images/Splash/en/aboutDown.jpg");
}
.en-about-rankings-button:hover{
  border:1px solid #FFFFFF;color:#000;
  background-image: url("../../../assets/images/Splash/en/aboutDown.jpg");
}

.fr-about-rankings-button {
  background-image: url("../../../assets/images/Splash/fr/aboutUp.jpg");
  width: 95px;
  height: 32px;
  top: 10px;
  left:25px;
  border: none;
  position:absolute;
}
.fr-about-rankings-button:active {
  background-image: url("../../../assets/images/Splash/fr/aboutDown.jpg");
}
.fr-about-rankings-button:hover{
  border:1px solid #FFFFFF;color:#000;
  background-image: url("../../../assets/images/Splash/fr/aboutDown.jpg");
}

.splash-img-small {
  height: 170px
}
