<div class="mat-elevation-z3" style="padding: 8px; margin: 5px">
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start start" >
    <div class="mat-subheading-1" fxFlexAlign="center">
      {{'_Point_Awards_' | translate}} {{'_for_' | translate }}
      {{rankingGroup.name|translate}} {{'_Events_' | translate}}
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
      <div>
        <div *ngIf="eventGroups.length > 1">
          <mat-form-field class="adjustment">
            <mat-select [placeholder]="'_event_group_' | translate"
                        [(value)]="selectedEventGroup" name="item"
                        (selectionChange)="onSelectEventGroup($event.value)">
              <mat-option *ngFor="let item of eventGroups" [value]="item">{{item.name | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="eventSubGroups && eventSubGroups.length > 1">
          <mat-form-field>
            <mat-select [placeholder]="'_event_sub_group_' | translate"
                        [(value)]="selectedEventSubGroup" name="item"
                        (selectionChange)="onSelectEventSubGroup($event.value)">
              <mat-option *ngFor="let item of eventSubGroups" [value]="item">{{item.name | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="events && events.length > 1">
          <mat-form-field>
            <mat-select [placeholder]="'_event_type_' | translate"
                        [(value)]="selectedEvent" name="item"
                        (selectionChange)="onSelectEvent($event.value)">
              <mat-option *ngFor="let item of events" [value]="item">{{item.name | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="isJuniorRegional">
          <mat-form-field>
            <mat-select [placeholder]="'_Age_Group_' | translate"
                        [(value)]="selectedAgeGroup" name="item"
                        (selectionChange)="onSelectAgeGroup($event.value)">
              <mat-option *ngFor="let item of juniorAgeGroups" [value]="item">{{item.name | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div></div>
          <mat-form-field>
            <mat-select [placeholder]="'_custom_ds_' | translate"
                        [(value)]="smallDrawSize" name="notsure">
            <mat-option *ngFor="let sds of smallDrawSizes" [value]="sds">{{sds.desc | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="baseDrawSize">
          <mat-form-field>
            <input matInput type="number" [(ngModel)]="selectedDrawSize"
                   [placeholder]="'_custom_ds_'| translate"
                   maxlength="3" min="1" max="128" (change)="onDrawSizeChange()">
          </mat-form-field>
        </div>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="selectedFinishPosition"
                 [placeholder]="'_custom_fp_'| translate"
                 maxlength="3" min="1" [max]="selectedDrawSize">
        </mat-form-field>
        <div *ngIf="selectedEventSubGroup && selectedEventSubGroup.groupType">
        <span class="mat-body color-primary pointer-the-cursor" (click)="onReadMore()">
          {{selectedEventSubGroup.conceptGroup.headerTextToken | translate}}
        </span>
        </div>
        <div *ngIf="isJuniorRegional">
          <p class="mat-body color-primary pointer-the-cursor" style="width: 180px" (click)="onShowEventStructure(selectedEventSubGroup)">
            {{'_event_structure_rm_' | translate }} {{selectedProvince.name |translate }}
          </p>
          <p class="mat-body" style="width: 180px">{{year}}
            {{'_RSF_' | translate}}
            {{ '_for_'|translate}} {{ selectedProvince.name|translate }}:
            {{ '_Girls_'|translate}} {{ selectedProvince.girlsRating.getRating(year)}},
            {{ '_Boys_'|translate}} {{ selectedProvince.boysRating.getRating(year)}}
          </p>
        </div>
      </div>
      <div>
        <app-points-table
          [eventGroup]="selectedEventGroup"
          [eventSubGroup]="selectedEventSubGroup"
          [event]="selectedEvent"
          [ageGroup]="selectedAgeGroup"
          [drawSize]="selectedDrawSize"
          [province]="selectedProvince"
          [isJuniorRegional]="isJuniorRegional"
          [magicFP]="selectedFinishPosition"
          [smallDrawSize]="smallDrawSize.value"
        >
        </app-points-table>
      </div>
    </div>
  </div>
</div>
