<div *ngIf="showList; else noData">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="tableData" matSort>
    <ng-container matColumnDef="province">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'_Province_' | translate}}</th>
      <td mat-cell *matCellDef="let t">{{t.province}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'_Tournament_Name_' | translate}}</th>
      <td mat-cell *matCellDef="let t">{{t.name}}</td>
    </ng-container>
    <ng-container matColumnDef="mrating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'_mens_rating_' | translate}}</th>
      <td mat-cell *matCellDef="let t">{{t.mrating}}</td>
    </ng-container>
    <ng-container matColumnDef="frating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'_womens_rating_' | translate}}</th>
      <td mat-cell *matCellDef="let t">{{t.frating}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>
<ng-template #noData>
  <p class="mat-body-2">{{'_no_events_found_' | translate}} {{year}}.</p>
</ng-template>
