<!--
  Two laysouts depending on screen size: for large, a row of three and a row of two
  for small, two rows of two and a row of one and it looks ugly.
  AND It would be nice to use fxLayoutWrap to accomplish this without the duplication,
  but I failed there.
-->
<div [ngClass]="{ 'en-bg' : lang == 'en', 'fr-bg': lang == 'fr' }"
     fxHide.lt-lg fxLayout="column"
     fxLayoutGap="20px" fxLayoutAlign="start center">
  <!-- A spacer to uncover the rogers rankings logo in the background. Sorry. -->
  <div style="height: 160px;"></div>
  <div fxLayoutAlign="row" fxLayoutGap="20px" fxLayout="center">
    <app-splash-image-selector
      [rankingGroupName]="'_Junior_'">
    </app-splash-image-selector>
    <app-splash-image-selector
      [rankingGroupName]="'_Adult_'">
    </app-splash-image-selector>
    <app-splash-image-selector
      [rankingGroupName]="'_Open_'">
    </app-splash-image-selector>
  </div>
  <div fxLayoutAlign="row" fxLayoutGap="20px" fxLayout="center">
    <app-splash-image-selector
      [rankingGroupName]="'_Senior_'">
    </app-splash-image-selector>
    <app-splash-image-selector
      [rankingGroupName]="'_Wheelchair_'">
    </app-splash-image-selector>
  </div>
</div>
<div [ngClass]="{ 'en-bg' : lang == 'en', 'fr-bg': lang == 'fr' }"
     fxHide.gt-md fxLayout="column"
     fxLayoutGap="20px" fxLayoutAlign="start center">
  <!-- A spacer to uncover the rogers rankings logo in the background. Sorry. -->
  <div style="height: 160px;"></div>
  <div fxLayoutAlign="row" fxLayoutGap="20px" fxLayout="center">
    <app-splash-image-selector
      [rankingGroupName]="'_Junior_'">
    </app-splash-image-selector>
    <app-splash-image-selector
      [rankingGroupName]="'_Adult_'">
    </app-splash-image-selector>
  </div>
  <div fxLayoutAlign="row" fxLayoutGap="20px" fxLayout="center">
    <app-splash-image-selector
      [rankingGroupName]="'_Open_'">
    </app-splash-image-selector>
    <app-splash-image-selector
      [rankingGroupName]="'_Senior_'">
    </app-splash-image-selector>
  </div>
  <div fxLayoutAlign="row" fxLayoutGap="20px" fxLayout="center">
    <app-splash-image-selector
      [rankingGroupName]="'_Wheelchair_'">
    </app-splash-image-selector>
  </div>
</div>
