.en-bg{
  background: #000000 url('../../assets/images/Splash/en/background.jpg') no-repeat center top;
  min-height: 840px;
  margin: 0 auto;
}
.fr-bg{
  background: #000000 url('../../assets/images/Splash/fr/background.jpg') no-repeat center top;
  min-height: 840px;
  margin: 0 auto;
}
.phone-bg{
  background: #000000 url('../../assets/images/Splash/en/background_sm.jpg') no-repeat center top;
  min-height: 840px;
  margin: 0 auto;
}
