@use 'sass:map';
@use '@angular/material' as mat;

@mixin rogers-rankings($theme) {
  $primary: map.get($theme, 'color', 'primary');
  $accent: map.get($theme, 'color', 'accent');
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);


  // Continue if primary and accent are not null
  // This just allows me to color arbitrary things according to the app theme.
  .color-primary {
    color: mat.get-color-from-palette($primary, 900); // 500 is typically the default color
  }
  .color-accent {
    color: mat.get-color-from-palette($accent, 'A200'); // 'A200' is typically the default accent color
  }
}
