<div>
  <!-- The name of the rankings group goes in the dropdown menu title.  "Open" for example. -->
  <button mat-button color="primary" [matMenuTriggerFor]="menu">
    <span>{{ rankingGroup.name | translate }}</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>


  <mat-menu #menu="matMenu" class="rg-menu">
    <div class="lo-column lo-gap10 lo-align-center lo-justify-center">

      <!-- The first row is a link to the "About" page and to the VR "Top 10" for the rankings group. -->
      <div class="lo-row lo-gap5">
        <div>
          <a mat-button color="primary" [routerLink]="['/rankings', rankingGroup.name]">
            {{ "_About_" | translate }} {{ rankingGroup.name | translate }} {{ '_Rankings_' | translate }}
          </a>
        </div>
        <div>
          <a mat-button [href]="rankingGroup.getURL(appState.selectedProvince)" color="primary"
             target="_blank">{{ "_Top_10_" | translate }}
          </a>
        </div>
      </div>
      <div>
        <mat-divider></mat-divider>
      </div>

      <!-- The next section shows the rankings links for the selected province (if the selected province is not Canada) -->
      <div *ngIf="!appState.selectedProvince.isCanada()">

        <!-- Show a flag of the selected province -->
        <button mat-button disabled>
          <img [src]="appState.selectedProvince.getFlagPath()" alt="Provincial Logo">
          {{ appState.selectedProvince.name | translate }} {{ "_Rankings_" | translate }}
        </button>
      </div>

      <!-- Show a table of links to all the VR *provincial* rankings categories of the group in question -->
      <!-- That is, if the user is focused on National rankings, this par of the menu does not appear -->
      <!-- Whereas if they are looking at, say, Alberta rankings, this part will appear.-->
      <div class="lo-row">
        <mat-grid-list class="lo-width500" [cols]="cols" rowHeight="20px" *ngIf="!appState.selectedProvince.isCanada()">
          <mat-grid-tile *ngFor="let rc of rankingGroup.rankingCategories">
            <a mat-button [href]="rc.getVRURL(appState.selectedProvince, rankingGroup)" color="primary" target="_blank">
              {{ rc.id |translate }}
            </a>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!-- The next section is exactly the same as the previous section except it shows links to the national -->
      <!-- Rather than provincial rankings. -->
      <div>
        <button mat-button disabled>
          <img [src]="canada.getFlagPath()" alt="TC Logo">
          {{ "_National_" | translate }}
          {{ "_Rankings_" | translate }}
        </button>
      </div>
      <div class="lo-row">
        <mat-grid-list class="lo-width500" [cols]="cols" rowHeight="20px">
          <mat-grid-tile *ngFor="let rc of rankingGroup.rankingCategories">
            <a mat-button [href]="rc.getVRURL(canada, rankingGroup)" color="primary" target="_blank">
              {{ rc.id |translate }}
            </a>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </mat-menu>
</div>
