<!--
  This all works using the convention established to describe an event
  group. The "selected event group" always has a list of events.
  Each event has a name (like _ON_3_star_) which is a translation token for that event.
  By convention we always have an additional translation token suffixed with "_description"
  That translates into a description of the event.
-->
<div mat-dialog-header fxLayout="row" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="start center">
    <span class="mat-h2">{{eventGroup.name | translate}}
      {{ "_junior_competitive_structure_" | translate}}
      </span>
  </div>
  <div class="fill-remaining-space"></div>
  <img class="tclogo" [src]="province.getLogoPath()">
</div>
<div mat-dialog-content>
  <div *ngFor="let rankingEvent of eventGroup.rankingEvents">
    <div class="mat-body-2">{{rankingEvent.name |translate}}</div>
    <div class="mat-body-1">{{rankingEvent.name + "description_" |translate}}</div>
    <div *ngIf="rankingEvent.name.includes('_5_star_')">
      <p class="mat-body-1"> {{year}} {{'_Boys_'| translate }} {{rankingEvent.name | translate }}
      {{'_PR_are_rated_at_' | translate }} {{ province.boysRating.getRating(year)}}
        {{'_PR_vs_nat_champs_' | translate }}.
      {{'_Girls_' | translate}} {{rankingEvent.name | translate }} {{'_PR_are_rated_at_' | translate }}
      {{ province.girlsRating.getRating(year)}}.
      </p>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="end">
  <div mat-dialog-actions>
    <button mat-button color="primary" [mat-dialog-close] cdkFocusInitial>{{'_Done_'|translate}}</button>
  </div>
</div>
