@import '../node_modules/@angular/material/theming';
// Note to self - import component .scss files here if you have component specific scss

// From the documentation - mat-core should not be imported in other scss files
@include mat-core();

@import './tc-tools-theme.scss';

@import './app/app.component';
@include angular-material-theme($tc-tools);
@include rogers-rankings($tc-tools);

/* You can add global styles to this file, and also import other style files */
.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

img.tclogo {
  height: 84px;
  margin: 0;
  padding: 0;
}
