@use '@angular/material' as mat;
@use 'app/app.component' as app;

// Defines CSS resets, ARIA attributes, and animations. It should be included exactly once.
@include mat.core();

$tc-typography: mat.define-typography-config();
@include mat.all-component-typographies($tc-typography);

$tc-primary: mat.define-palette(mat.$blue-palette);
$tc-accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400);
$tc-warn: mat.define-palette(mat.$red-palette);

$tc-theme: mat.define-light-theme((
  color: (
    primary: $tc-primary,
    accent: $tc-accent,
  ),
  density: 0,
));

@include mat.all-component-themes($tc-theme);

// The whole application now has access to the defined theme (contained in $tc-tools)
@include app.rogers-rankings($tc-theme);

img.tclogo {
  height: 84px;
  margin: 0;
  padding: 0;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

// When Angular decided not to support FlexLayout anymore, the following css was added in place of the FlexLayout
// part of the html directives in the system.
// Ideally


.lo-row {
  display: flex;
  flex-direction: row;
}

.lo-column {
  display: flex;
  flex-direction: column;
}

.lo-full {
  flex: 1;
}

.lo-justify-start {
  justify-content: start;
}

.lo-justify-center {
  justify-content: center;
}

.lo-justify-end {
  justify-content: end;
}

.lo-justify-space-between {
  justify-content: space-between;
}

.lo-align-center {
  align-items: center;
}

.lo-align-start {
  align-items: start;
}

.lo-gap60 {
  gap: 60px;
}

.lo-gap20 {
  gap: 20px;
}

.lo-gap10 {
  gap: 10px;
}

.lo-gap5 {
  gap: 5px;
}

.lo-gap3 {
  gap: 3px;
}

.lo-10px {
  flex-basis: 10px;
}

.lo-20px {
  flex-basis: 20px;
}

.lo-25px {
  flex-basis: 25px;
}

.lo-60px {
  flex-basis: 60px;
}

.lo-80px {
  flex-basis: 80px;
}

.lo-2 {
  flex-basis: 2%;
}

.lo-4 {
  flex-basis: 4%;
}

.lo-14 {
  flex-basis: 14%;
}

.lo-30 {
  flex-basis: 30%;
}

.lo-40 {
  flex-basis: 40%;
}

.lo-45 {
  flex-basis: 45%;
}

.lo-50 {
  flex-basis: 50%;
}

.lo-width340 {
  width: 340px;
  flex-shrink: 0;
}

@media screen and (max-width: 959px) {
  .hide-on-small {
    display: none;
  }

  .column-on-small {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (min-width: 960px) {
  .hide-on-large {
    display: none;
  }

  .row-on-large {
    display: flex;
    flex-direction: row;
  }

}
