<!--
  This provides a hierarchical menu to allow the user to choose a
  ranking category.
  This is the crappiest code in the entire system.  It was done
  expediently.
  1) The daa structures are hacky (that's being kind)
  2) there is exactly a two level hierarchy with each level having a different data struct
  3) mix in the obscure mat-menu in an *ngFor and you get a big mess.

  On the other hand, it works. So probably best to just leave it alone.
-->
<button mat-button color="primary" [matMenuTriggerFor]="categoryMenu">
  <span *ngIf="selectedRankingCategory">{{selectedRankingCategory.id + '_long_' | translate}}</span>
  <span *ngIf="!selectedRankingCategory">{{'_choose_a_category_' | translate}}</span>
  <mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu #categoryMenu="matMenu" class="rg-menu">
  <ng-container *ngFor=" let g of allCategories">
    <button mat-menu-item [matMenuTriggerFor]="groupMenu">{{g.name |translate}}</button>
    <mat-menu #groupMenu="matMenu">
      <ng-container *ngFor="let sg of g.groups">
        <div *ngIf="sg.list">
          <button mat-menu-item [matMenuTriggerFor]="subGroupMenu">
            {{sg.name |translate}}
          </button>
          <mat-menu #subGroupMenu="matMenu">
            <button mat-menu-item *ngFor="let c of sg.list" (click)="onCategorySelected(c)">
              {{c.id + "_long_" |translate}}
            </button>
          </mat-menu>
        </div>
        <div *ngIf="!sg.list">
            <button mat-menu-item (click)="onCategorySelected(sg)">
              {{sg.id + "_long_" |translate}}
            </button>
        </div>
      </ng-container>
    </mat-menu>
  </ng-container>
</mat-menu>
