<div class="mat-elevation-z3" style="padding: 8px; margin: 5px">
  <div class="lo-column lo-gap20 lo-align-center lo-justify-start">

    <!-- The title for the table -->
    <div class="mat-headline-6">
      {{ '_Point_Awards_' | translate }} {{ '_for_' | translate }}
      {{ rankingGroup.name|translate }} {{ '_Events_' | translate }}
    </div>

    <!-- The points table itself -->
    <div>
      <div class="mat-elevation-z1">
        <table class="mat-table">
          <tr class="point-table-row">
            <th class="point-table-header-cells"></th>
            <th class="point-table-header-cells" *ngFor="let h of headerRow">{{ h | translate }}</th>
          </tr>
          <tr *ngFor="let r of pointsTable; let i = index" class="point-table-row">
            <th class="point-table-header-cells">{{ headerColumn[i] | translate }}</th>
            <td class="point-table-cell" *ngFor="let c of r"
                [class.point-table-special-cell]="c.special"> {{ c.value | number: '1.0-0' }}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Allow the user to select a finish position that is not in the table by default -->
    <mat-form-field appearance="outline" class="form-field-large">
      <mat-label>{{ '_custom_fp_'| translate }}</mat-label>
      <input matInput type="number" [(ngModel)]="customFinishPosition"
             maxlength="3" min="1" [max]="32" (ngModelChange)="buildPointsTable()">
    </mat-form-field>
  </div>
</div>
