<div>
  <button mat-button color="primary" [matMenuTriggerFor]="provinceMenu">
    <img [src]="appState.selectedProvince.getFlagPath()">
    {{appState.selectedProvince.name|translate}}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #provinceMenu="matMenu">
    <div fxLayout="column" fxLayoutAlign="start start" fxFlexOffset="5px">
      <button mat-menu-item *ngFor="let k of provinces.getKeys()" color="primary"
              (click)="onSelectProvince(k)">
        <img [src]='provinces.getItem(k).getFlagPath()'>
        {{provinces.getItem(k).name|translate}}
      </button>
    </div>
  </mat-menu>
</div>
