<div fxLayout="column" fxLayoutWrap>
  <div >selected province: {{appState.selectedProvince.abbrv}}</div>
  <div  *ngIf="appState.selectedRankingGroup">selected rankingGroup: {{ appState.selectedRankingGroup.name}}</div>
  <div fxFlex="100%">selected year: {{appState.selectedRankingYear}}</div>
  <div fxLayout="row">
    <div fxFlex="200px"><mat-grid-list cols="2"  rowHeight="17px" colour="accent">
      <mat-grid-tile *ngFor="let p of provinces.getValues()" >{{ p.abbrv }}</mat-grid-tile>
    </mat-grid-list>
    </div>
  </div>
  <a (click)="onLinkClick()">{{linkClicks}}</a>
</div>
